:root {
  --dark-grayish-blue: #1f2937;
  --white: #f9faf8;
  --dark-white: #e5e7eb;
  --vivid-blue: #3882f6;
  --gray: #6d747d;

  --font-size-sm: 18px;
  --font-size-md: 24px;
  --font-size-lg: 36px;
  --font-size-x-lg: 48px;

  --font-weight-bold: 900;
  --font-weight-semi-bold: 600;

  --white-text-color: var(--white);
  --dark-grayish-blue-text-color: var(--dark-grayish-blue);
  --dark-white-text-color: var(--dark-white);

  --dark-background-color: var(--dark-grayish-blue);
  --blue-background-color: var(--vivid-blue);
  --light-background-color: var(--white);
  --semi-dark-background-color: var(--dark-white);

  --button-background-color: var(--vivid-blue);
  --button-border-color: var(--white);

  --information-square-color: var(--vivid-blue);
  --image-container: var(--gray);

  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--dark-white-text-color);
  font-size: var(--font-size-sm);
}

button {
  background-color: var(--button-background-color);
  padding: 8px 14px;
  border-radius: 8px;
  border-style: none;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  color: var(--white-text-color);
  width: 140px;
}

.header {
  background-color: var(--dark-background-color);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 50%;
  margin: 0 auto;
  padding: 16px 32px;
}

.header-content span {
  font-size: var(--font-size-md);
  color: var(--white-text-color);
  font-weight: var(--font-weight-bold);
}

.main {
  background-color: var(--dark-background-color);
}

.main-content {
  margin: 0 auto;
  padding: 112px 0;
  display: flex;
  gap: 36px;
  justify-content: center;
}

.main-content-left {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.main-text {
  color: var(--white-text-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-x-lg);
  margin: 0;
  white-space: pre-line;
}

.secondary-text {
  color: var(--dark-white-text-color);
  font-size: var(--font-size-sm);
}

.secondary-text span {
  white-space: pre-line;
}

.image {
  width: 25vw;
  height: 30vh;
  background-color: var(--image-container);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image span {
  color: var(--white-text-color);
}

.information {
  display: flex;
  justify-content: center;
}

.information-content {
  display: flex;
  padding: 56px 0;
  align-items: center;
  gap: 56px;
  flex-direction: column;
}

.information-header {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--dark-grayish-blue-text-color);
}

.grid {
  display: flex;
  gap: 56px;
}

.grid-items {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.grid-items span {
  width: 150px;
  text-align: center;
}

.square {
  width: 150px;
  height: 150px;
  border-width: 4px;
  border-style: solid;
  border-radius: 8px;
  border-color: var(--information-square-color);
}

.quote {
  background-color: var(--semi-dark-background-color);
  display: flex;
  justify-content: center;
}

.quote-container {
  margin: 64px auto;
  display: flex;
  flex-direction: column;
}

.quote-text {
  font-style: italic;
  font-size: var(--font-size-lg);
  color: var(--dark-grayish-blue-text-color);
  white-space: pre-line;
}

.quote-author {
  font-size: var(--font-size-md);
  color: var(--dark-grayish-blue-text-color);
  font-weight: var(--font-weight-bold);
  align-self: flex-end;
}

.callout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.callout-container {
  margin: 64px auto;
  padding: 0 64px;
  width: 50%;
  height: 150px;
  background-color: var(--blue-background-color);
  border-width: 4px;
  border-style: none;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.callout-text {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.callout-container button {
  border-style: solid;
  border-color: var(--button-border-color);
}

.callout-main-text {
  font-size: var(--font-size-md);
  color: var(--white-text-color);
  font-weight: 600;
}

.callout-secondary-text {
  color: var(--white-text-color);
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--dark-background-color);
  padding: 32px;
  color: var(--white-text-color);
}
/* 
@media screen and (max-width: 767px) {
  .header-content,
  .main-content,
  .quote-container {
    max-width: 90%;
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (min-width: 1024px) {
  .header-content,
  .main-content,
  .quote-container {
    max-width: 76%;
  }
} */

@media screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .header-content,
  .main-content,
  .quote-container {
    max-width: 76%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 1199px) {
  .header-content,
  .main-content,
  .quote-container {
    max-width: 90%;
  }

  .main-content {
    flex-direction: column;
  }
  .main-content-left {
    width: 100%;
    gap: 16px;
  }

  .image {
    width: auto;
  }
}

@media only screen and (max-width: 500px) {
  .header-content,
  .main-content,
  .quote-container {
    max-width: 90%;
  }
}
