:root {
  --lilac: #d3aedbff;
  --coral-pink: #f68d81ff;
  --melon: #f9b8a0ff;
  --beaver: #9d8377ff;
  --rose-taupe: #7e6161ff;
  --pink-lavender: #d8b3d8ff;
  --seashell: #f9efea;
  --brown: #55383a;

  /* Fonts*/
  --font-size-sm: 18px;
  --font-size-md: 24px;
  --font-size-lg: 36px;
  --font-size-x-lg: 48px;
  --font-weight-bold: 900;
  --font-weight-semi-bold: 600;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;

  /* Text*/
  --white-text-color: var(--seashell);
  --dark-text-color: var(--rose-taupe);
  --darker-text-color: var(--brown);

  /* Background*/
  --dark-background-color: var(--lilac);
  --pink-background-color: var(--pink-lavender);
  --light-background-color: var(--seashell);
  --coral-background-color: var(--coral-pink);

  /* Buttons */
  --button-background-color: var(--rose-taupe);
  --button-border-color: var(--rose-taupe);

  --information-square-color: var(--coral-pink);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-background-color);
}

footer {
  width: 50vw;
}

header {
  width: 100%;
  background-color: var(--dark-background-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 16px 0;
  gap: 124px;
}

h1 {
  font-size: var(--font-size-md);
  color: var(--white-text-color);
  font-weight: var(--font-weight-bold);
}

nav {
  padding: 0;
  display: flex;
  gap: 16px;
}

nav a {
  text-decoration: none;
  color: var(--white-text-color);
  font-size: var(--font-size-sm);
}

main {
  flex: 1 1 0;
  width: 100%;
}

section {
  padding: 0;
  margin: 0;
}

section a {
  text-decoration: none;
  background-color: var(--button-background-color);
  padding: 8px 14px;
  border-radius: 8px;
  border-style: none;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  color: var(--white-text-color);
  width: 140px;
  text-align: center;
}

#intro {
  padding: 112px 0;
  display: flex;
  gap: 36px;
  justify-content: center;
  background-color: var(--dark-background-color);
}

#intro-heading {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

#intro-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

[role='intro-image'] img {
  height: 285px;
}

#intro h2 {
  color: var(--white-text-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-x-lg);
  margin: 0;
  white-space: pre-line;
}

#intro p {
  color: var(--white-text-color);
  font-size: var(--font-size-sm);
  white-space: pre-line;
}

#information {
  background-color: var(--light-background-color);
  display: flex;
  padding: 56px 0;
  align-items: center;
  gap: 56px;
  flex-direction: column;
}

#information h2 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--dark-text-color);
  margin: 0;
  padding: 0;
}

.grid {
  display: flex;
  gap: 56px;
}

.grid-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.grid-items h3 {
  width: 150px;
  text-align: center;
  color: var(--dark-text-color);
  margin: 0;
  padding: 0;
}

.square {
  width: 170px;
  height: 150px;
  border-width: 4px;
  border-style: solid;
  border-radius: 8px;
  border-color: var(--information-square-color);
  display: flex;
  justify-content: center;
}

.square img {
  height: 150px;
}

#quote {
  background-color: var(--coral-background-color);
  display: flex;
  justify-content: center;
  padding: 64px;
}

#quote div {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

#quote p {
  font-style: italic;
  font-size: var(--font-size-lg);
  color: var(--darker-text-color);
  padding-bottom: 16px;
  white-space: pre-line;
  text-align: center;
}

#quote h2 {
  text-align: end;
}

#callout {
  width: 45%;
  display: flex;
  margin: 64px auto;
  padding: 48px 32px;
  height: auto;
  background-color: var(--pink-background-color);
  border-width: 4px;
  border-style: none;
  border-radius: 8px;
  justify-content: space-evenly;
  align-items: center;
}

#callout div {
  color: var(--white-text-color);
}

#callout h2 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semi-bold);
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--dark-background-color);
  padding: 32px 0;
  color: var(--white-text-color);
}

@media only screen and (max-width: 767px) {
  header {
    justify-content: space-evenly;
    gap: 0;
  }

  header h1 {
    width: 20%;
  }

  #intro {
    flex-direction: column;
    align-items: center;
  }

  #intro-heading {
    align-items: center;
    flex-direction: column;
  }

  #intro h2 {
    text-align: center;
    white-space: normal;
  }

  #intro p {
    text-align: center;
    white-space: normal;
    width: 80%;
  }

  #intro-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  [role='intro-image'] img {
    height: 200px;
  }

  .grid {
    display: grid;
    grid-template-columns: 350px;
    justify-content: center;
  }

  .square {
    width: 350px;
    height: 300px;
    align-items: center;
  }

  .square img {
    height: 300px;
  }

  #quote p {
    white-space: normal;
    font-size: var(--font-size-md);
  }

  #callout {
    width: 80%;
    padding: 32px;
    gap: 16px;
    flex-direction: column;
    align-items: center;
  }

  #callout h2,
  #callout p {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1032px) {
  #intro {
    flex-direction: column;
    align-items: center;
  }

  #intro-heading {
    align-items: flex-start;
    flex-direction: column;
  }
  #intro h2 {
    white-space: normal;
  }

  #intro p {
    text-align: start;
    white-space: normal;
  }

  #intro-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  [role='intro-image'] img {
    height: 400px;
  }

  .grid {
    display: grid;
    grid-template-columns: 350px 350px;
    column-gap: 0;
    row-gap: 40px;
    justify-content: center;
  }

  .square {
    height: 300px;
    width: 300px;
    align-items: center;
  }

  .square img {
    height: 250px;
  }

  #quote p {
    white-space: normal;
  }

  #callout {
    width: 80%;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1033px) and (max-width: 1299px) {
  header {
    gap: 450px;
  }

  #callout {
    width: 70%;
    justify-content: space-evenly;
  }
}
